.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/images/hero1.png') no-repeat center center/cover;
    color: white;
    text-align: center;
  }
  