.header{
    background:#2f2eff;
    color: aliceblue;
    display: flex;
    justify-content:flex-start;
    gap:10px;
    padding: 10px 12px;
    /* position:fixed;
    top:0;
    left: 0; */
    width: 100vw;
    
}
.header h2 {
    display: flex;                                                                                                        
    align-items: center;
    font-size:15px;
    gap: 5px; 
    margin-left: 30px;
  }
  
  .call {
    font-size:18px; 
    color: #edeaea; 
  }
  
  .mail {
    font-size:18px; 
    color: #edeaea; 
  }