nav {
    width: 100vw;
    color: white;
    position: fixed;
    top: 40px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 10px 20px;
    background: transparent;
    transition: background 0.3s ease-in-out;
}

a:hover {
    color: #25A4E5;
}

.logo {
    width: 100px;
    transition: transform 0.5s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 10px 20px;
    font-size: 16px;
    transition: transform 0.5s ease-in-out;
    font-weight: 600;
}

li:hover {
    transform: scale(1.1);
}

.dark-nav {
    background: #2f2eff;
    top: 0%;
}

.menu {
    display: none;
    cursor: pointer;
    width: 30px;
}

/* Responsive Styles */
@media (max-width: 840px) {
    nav {
        padding: 15px 20px;
    }

    nav ul {
        position: fixed;
        top: 0;
        left: -200px;
        bottom: 0;
        background-color: #212EA0;
        width: 200px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 80px;
        padding-left: 30px;
        transition: left 0.3s ease-in-out;
        z-index: 9;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    .menu {
        display: block;
    }

    /* Mobile menu open */
    .show-mobile-menu {
        left: 0;
    }

    /* Mobile menu hidden */
    .hide-mobile-menu {
        left: -200px;
    }
}
