nav{
    width: 100vw;
    /* background: #ebe7e7; */
    /* backdrop-filter: blur(5px); */
    /* color:#2b4da5; */
    color: white;
    /* padding: 4px 0; */
    position:fixed;
    top:40px;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

a:hover {
    color:#25A4E5;
}


.logo {
    width: 100px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    transition: transform 0.5s ease-in-out;
}

.logo:hover {
    transform: scale(1.1); 
}


nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 10px 20px;
    font-size:16px;
    transition: transform 0.5s ease-in-out;
    font-weight:600;
}

li:hover{
    transform: scale(1.1); 
}

.dark-nav {
    background:#2f2eff;
    transition: 0.5s;
    top:0%;
}


  
 
  