.footer {
  height: 45vh;
  
  

}

/* .footer-containe {
  background: url('../../footer.png') no-repeat center center;
} */

 /* Slick Custom Styles slider   */

.slick-dots li button:before {
  color: #1D67DE !important;
  font-size: 12px;
  opacity: 0.7;
}

.slick-dots li.slick-active button:before {
  color: #25A4E5 !important;
  opacity: 1;
}

/* .slick-prev:before,
.slick-next:before {
  color: #1D67DE !important;
  font-size: 24px;
  opacity: 1;
} */

/* .slick-prev:hover:before,
.slick-next:hover:before {
  color: #25A4E5 !important;
} */


